In [2]:
from dmp.df.pandas import PandasPipeline
from IPython.display import clear_output
a = PandasPipeline.connect_db("hssk_mongo2_view")
from dmp.helper.connection import WfConnection

[2021-08-15 09:06:15,072] {base.py:78} INFO - Using connection to: id: hssk_mongo2_view. Host: 10.207.150.47:27017,10.207.150.48:27017,10.207.150.49:27017, Port: None, Schema: admin, Login: view, Password: Viettel%21%40%232021, extra: {'authSource': 'admin'}
[2021-08-15 09:06:15,106] {base.py:78} INFO - Using connection to: id: mongo_default. Host: mongo, Port: 27017, Schema: None, Login: None, Password: None, extra: {}
[2021-08-15 09:06:15,109] {base.py:78} INFO - Using connection to: id: hssk_mongo2_view. Host: 10.207.150.47:27017,10.207.150.48:27017,10.207.150.49:27017, Port: None, Schema: admin, Login: view, Password: Viettel%21%40%232021, extra: {'authSource': 'admin'}

In [33]:
# a.read_mongodb("Region","colombo10263", query={}, 
#                         return_cursor=False).df.head()
cursor = a.read_mongodb("Region","colombo10263", query={}, 
                        return_cursor=True)

[2021-08-14 16:00:21,800] {base.py:78} INFO - Using connection to: id: hssk_mongo2_view. Host: 10.207.150.47:27017,10.207.150.48:27017,10.207.150.49:27017, Port: None, Schema: admin, Login: view, Password: Viettel%21%40%232021, extra: {'authSource': 'admin'}
[2021-08-14 16:00:21,803] {base.py:78} INFO - Using connection to: id: mongo_default. Host: mongo, Port: 27017, Schema: None, Login: None, Password: None, extra: {}
[2021-08-14 16:00:21,806] {base.py:78} INFO - Using connection to: id: hssk_mongo2_view. Host: 10.207.150.47:27017,10.207.150.48:27017,10.207.150.49:27017, Port: None, Schema: admin, Login: view, Password: Viettel%21%40%232021, extra: {'authSource': 'admin'}

In [24]:
# new_df = cursor.df.astype(str).rename_cols({"_id":"id"}, inplace=False)
cursor

In [34]:
oracle_conn = WfConnection("dw_oracle").get_wf_db()
# oracle_conn.get_sqlalchemy_engine().execute("truncate table dim_region_temp")
# oracle_conn.get_sqlalchemy_engine().execute("""
#     Create table dim_region_temp (
#         id CLOB,
#         createdtime CLOB,
#         createdyear CLOB,
#         createdmonth CLOB,
#         createdday CLOB,
#         lastupdatetime CLOB,
#         lastupdatedate CLOB,
#         sortorder CLOB,
#         creatorid CLOB,
#         site CLOB,
#         createdemployeeid CLOB,
#         createdorganizationid CLOB,
#         type CLOB,
#         code CLOB,
#         title CLOB,
#         parentid CLOB,
#         content CLOB,
#         latitude CLOB,
#         longitude CLOB,
#         countryid CLOB,
#         normalizetitle CLOB,
#         normalizeparenttitle CLOB,
#         tempidx CLOB,
#         type1 CLOB,
#         type2 CLOB,
#         studycode CLOB,
#         studyid CLOB,
#         oldcode CLOB,
#         englishname CLOB,
#         leveltitle CLOB,
#         viettelsaleid CLOB,
#         zipcode CLOB,
#         bccscode CLOB,
#         cdcid CLOB,
#         cdccode CLOB,
#         englishtitle CLOB,
#         status CLOB,
#         nationid CLOB
#     )
# """)
# PandasPipeline.connect_db("hssk_mongo2_view").read_df(new_df).df.to_sql("dim_region_temp",con=oracle_conn, if_exists="replace")
# new_df.columns
# from dmp.helper.utils import generate_batches
# from IPython.display import clear_output
# col = ['id', 'createdtime', 'createdyear', 'createdmonth', 'createdday',
#        'lastupdatetime', 'lastupdatedate', 'sortorder', 'creatorid', 'site',
#        'createdemployeeid', 'createdorganizationid', 'type', 'code', 'title',
#        'parentid', 'content', 'latitude', 'longitude', 'countryid',
#        'normalizetitle', 'normalizeparenttitle', 'tempidx', 'type1', 'type2',
#        'studycode', 'studyid', 'oldcode', 'englishname', 'leveltitle',
#        'viettelsaleid', 'zipcode', 'bccscode', 'cdcid', 'cdccode',
#        'englishtitle', 'status', 'nationid']
# target = ['_id', 'createdTime', 'createdYear', 'createdMonth', 'createdDay',
#        'lastUpdateTime', 'lastUpdateDate', 'sortOrder', 'creatorId', 'site',
#        'createdEmployeeId', 'createdOrganizationId', 'type', 'code', 'title',
#        'parentId', 'content', 'latitude', 'longitude', 'countryId',
#        'normalizeTitle', 'normalizeParentTitle', 'tempIdx', 'type1', 'type2',
#        'studyCode', 'studyId', 'oldCode', 'englishName', 'levelTitle',
#        'viettelSaleId', 'zipCode', 'bccsCode', 'cdcId', 'cdcCode',
#        'englishTitle', 'status', 'nationId']
# def clean_na(item):
#     if item in ['None','nan', None]:
#         return ""
#     return item
# l=0

    
# for batch in generate_batches(cursor, batch_size_limit=1000, callback_item=lambda x: {k: x.get(k, None) for k in target}):
#     df = PandasPipeline.read_dict(batch).normalize_cols(inplace=False).astype(str).rename_cols({"_id":"id"}, inplace=False)
#     data =[tuple([clean_na(k.get(c,""))  for c in col]) for k in df.to_dict(orient="records")]
     
#     oracle_conn.bulk_insert_rows(table="dim_region_temp",rows=data, target_fields=col, commit_every=20000)
#     l+=len(batch)
#     print("done: %s" % l)
#     clear_output(wait=True)

[2021-08-14 16:00:31,126] {base.py:78} INFO - Using connection to: id: dw_oracle. Host: 10.255.41.164, Port: None, Schema: , Login: KGM_Report, Password: Viettel!@#2021, extra: {'service_name': 'tcdb'}
[2021-08-14 16:00:31,288] {oracle.py:268} INFO - [dim_region_temp] inserted 982 rows
done: 12982

In [5]:
# oracle_conn = WfConnection("dw_oracle").get_wf_db()
# engine = oracle_conn.get_sqlalchemy_engine()
# cursor = engine.execute("""
# CREATE TABLE dim_region_main AS (
#     select 
#     DBMS_LOB.substr(id,0,4000) as id,
# CAST(TRIM(CAST(createdtime as VARCHAR(400))) as NUMBER) as createdtime,
# CAST(TRIM(CAST(createdyear as VARCHAR(400))) as NUMBER) as createdyear,
# CAST(TRIM(CAST(createdmonth as VARCHAR(400))) as NUMBER) as createdmonth,
# CAST(TRIM(CAST(createdday as VARCHAR(400))) as NUMBER) as createdday,
# DBMS_LOB.substr(lastupdatetime,0,4000) as lastupdatetime,
# DBMS_LOB.substr(lastupdatedate,0,4000) as lastupdatedate,
# DBMS_LOB.substr(sortorder,0,4000) as sortorder,
# DBMS_LOB.substr(creatorid,0,4000) as creatorid,
# DBMS_LOB.substr(site,0,4000) as site,
# DBMS_LOB.substr(createdemployeeid,0,4000) as createdemployeeid,
# DBMS_LOB.substr(createdorganizationid,0,4000) as createdorganizationid,
# DBMS_LOB.substr(type,0,4000) as type,
# DBMS_LOB.substr(code,0,4000) as code,
# DBMS_LOB.substr(title,0,4000) as title,
# DBMS_LOB.substr(parentid,0,4000) as parentid,
# DBMS_LOB.substr(content,0,4000) as content,
# DBMS_LOB.substr(latitude,0,4000) as latitude,
# DBMS_LOB.substr(longitude,0,4000) as longitude,
# DBMS_LOB.substr(countryid,0,4000) as countryid,
# DBMS_LOB.substr(normalizetitle,0,4000) as normalizetitle,
# DBMS_LOB.substr(normalizeparenttitle,0,4000) as normalizeparenttitle,
# DBMS_LOB.substr(tempidx,0,4000) as tempidx,
# DBMS_LOB.substr(type1,0,4000) as type1,
# DBMS_LOB.substr(type2,0,4000) as type2,
# DBMS_LOB.substr(studycode,0,4000) as studycode,
# DBMS_LOB.substr(studyid,0,4000) as studyid,
# DBMS_LOB.substr(oldcode,0,4000) as oldcode,
# DBMS_LOB.substr(englishname,0,4000) as englishname,
# DBMS_LOB.substr(leveltitle,0,4000) as leveltitle,
# DBMS_LOB.substr(viettelsaleid,0,4000) as viettelsaleid,
# DBMS_LOB.substr(zipcode,0,4000) as zipcode,
# DBMS_LOB.substr(bccscode,0,4000) as bccscode,
# DBMS_LOB.substr(cdcid,0,4000) as cdcid,
# DBMS_LOB.substr(cdccode,0,4000) as cdccode,
# DBMS_LOB.substr(englishtitle,0,4000) as englishtitle,
# DBMS_LOB.substr(status,0,4000) as status,
# DBMS_LOB.substr(nationid,0,4000) as nationid

#     from dim_region_temp)
# """)

[2021-08-15 09:07:36,250] {base.py:78} INFO - Using connection to: id: dw_oracle. Host: 10.255.41.164, Port: None, Schema: , Login: KGM_Report, Password: Viettel!@#2021, extra: {'service_name': 'tcdb'}
[2021-08-15 09:07:36,253] {base.py:78} INFO - Using connection to: id: dw_oracle. Host: 10.255.41.164, Port: None, Schema: , Login: KGM_Report, Password: Viettel!@#2021, extra: {'service_name': 'tcdb'}